@{
    ViewData["Title"] = "Cadastrar Loja";
}

<h1>Cadastrar Loja</h1>
<p>Utilize o formulário para Cadastrar uma loja</p>

<form action="/Loja/Adicionar" method="POST">
    <label for="id">ID</label>
    <input type="number" id="id" name="Id">

    <label for="nome">Nome</label>
    <input type="text" id="nome" name="Nome">

    <label for="andar">Andar</label>
    <select name="Andar" id="andar">
        <option value="Andar 1">Andar 1</option>
        <option value="Andar 2">Andar 2</option>
        <option value="Andar 3">Andar 3</option>
    </select>

    <label for="descricao">Descrição</label>
    <textarea name="Descricao" id="descricao"></textarea>

    <label for="lojaCadu">Loja / Cadu</label>
    <select name="LojaDoCadu" id="lojaCadu">
        <option value="Loja">Loja</option>
        <option value="Do Cadu">Cadu</option>
    </select>

    <label for="email">Email</label>
    <input type="email" id="email" name="Email">

    <input class="submit" type="submit" value="Adicionar">
</form>